// text
$text-main-color: rgba(0, 0, 0, 0.87); // the main color for the text
$text-white-color: #ffffff; // the second color for the text
$text-in-form-color: #7e7e7e;

// button
$btn-bcg: #f4e041; // background for the buttons
$btn-bcg-ds: #b4b4b4; // background for disable buttons
$accent-btn: #ffe302;

//background 
$page-bcg-color: #f8f8f8; // the main background for the page
$card-bcg-color: #ffffff; // bacgground for the each card

// border
$input-field-border-color: #d0cfcf; //border input
