$light-theme-box-shadow: 0px 6px 26px rgba(0, 5, 97, 0.1); // сіра тінь
$light-theme-box-shadow-hover: 0px 6px 26px #666564; // сіра тінь при ховері

$light-bcg-box-shadow: 0px 0px 15px rgba(255, 107, 8, 0.3); // тінь для оранжевих кнопок
$dark-bcg-box-shadow: 0 0 15px #ffffff;

$transition-duration: 250ms;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);