@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

@import './shared.scss';

body {
  font-family: 'Nunito';

  background-color: $page-bcg-color;
  box-sizing: border-box;
  font-size: 16px;;
  color: $text-main-color; // the main color for the text
}

body.modal-open {
  overflow: hidden;
}

html {
  overflow-y: scroll;
}
::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  //   box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
  border-radius: 10px;
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: $accent-color;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
p {
  margin: 0;
}

h1,
h2,
h3 {
  margin: 0;
}

a {
  text-decoration: none;
}

button {
  border: none;
}