@import '../../styles/shared.scss';

.cards_wrapper {
 margin-top: 50px;
}

.button {
 margin-top: 50px;
 width: 120px;
 display: block;
 margin-left: auto;
 margin-right: auto;
}

@media (min-width: 768px) {
 .cards_wrapper {
  display: flex;
  flex-wrap: wrap;
}
}